

@media print {
    .file-input {
        display: none;
    }
}

.file-input {
    padding: 1rem;
    background: #FFEBCD;
}

.file-input ol {
    padding-inline-start: 1rem;
}

.calender {
    display: grid;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);

    border: 2px solid black;

    width: calc(100vw - 4px);
    height: calc(100vh - 4px);
}


.CalenderCell {
    border: 1px solid black;
    font-size: 11pt;
}

.CalenderCell.weekend {
    background-color: #eee;
}

.CalenderCell .date {
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

.CalenderCell .date .dt {
    font-weight: bold;
}

.CalenderCell .events {
    list-style: none;
    padding-inline-start: 0;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.CalenderCell .events .event + .event {
    margin-top: 0.6rem;
    padding-top: 0.4rem;

    border-top: 1px solid #bbb;
}

.CalenderCell .events .event .time {
    font-weight: bold;
    white-space: nowrap;
}

.CalenderCell .events .event .summary {
    font-weight: bold;
}

.CalenderCell .events .event .description {
    font-size: 10pt;
}
