

@media print {
    .file-input {
        display: none;
    }
}

.calender {
    display: grid;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);

    border: 2px solid black;

    width: calc(100vw - 4px);
    height: calc(100vh - 4px);
}


.CalenderCell {
    border: 1px solid black;
    font-size: 12pt;
}

.CalenderCell.weekend {
    background-color: #eee;
}

.CalenderCell .date {
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

.CalenderCell .date .day {
}

.CalenderCell .date .dt {
    font-weight: bold;
}
